src/main/mule/example_2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="223d8668-95ac-4ac6-931c-9f31f795bca2" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="6f2d989e-bdb5-4835-8e55-9d53cdf34094" file="config.yaml" />
	<flow name="example_2Flow" doc:id="c1885754-f2b1-4e5e-b9a3-f6ee3e3a5bc4" >
		<http:listener doc:name="Listener" doc:id="ab2a8df4-ab28-4984-af8f-347b3de0408e" config-ref="HTTP_Listener_config" path="${http.path}" allowedMethods="POST"/>
		<set-payload doc:name="Set Payload" doc:id="27311a00-e3b0-4a9d-a665-946e4f531393" value='#[payload]'/>
		<logger level="INFO" doc:name="Logger" doc:id="fb26c33b-34b1-4f52-b896-6eccf6ddac9a" message="#[payload]"/>
	</flow>
</mule>
